// COMMON STYLES

.title {
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
}

// PAGE

.page {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: url("../../images/blackboard.jpg");
  background-size: cover;
  background-position: center center;
}

// MAIN

.main {
  display: flex;
  justify-content: center;
}

//RESET-BUTTON

.reset__button {
  background-color: rgb(182, 177, 177);
  display: flex;
  font-size: 20px;
  justify-content: center;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.sectionCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


//MESSAGE

.message{
  margin-top: 20px;
  font-size: 50px;
}